@using BO.Reps;
@using BO;
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@ViewBag.Title</title>
    <!--CSS files-->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/docs.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/mycss.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Scripts/google-code-prettify/prettify.css")" rel="stylesheet"/>  
    <!--Scripts files-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-carousel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/news-script.js")"></script>

    
</head>
<body id="body">
    <div>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner navbar-fixed-top">
            <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </a>

                <!-- Be sure to leave the brand out there if you want it shown -->
                <a class="brand" href="/Home/Index">Toy al Dia</a>

                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="nav-collapse collapse">
                <ul class="nav">
                                  
                </ul>
                </div>
                
            </div>
            </div>
            <div class="divider-orange"></div>
        </div>

    </div>                                
    <div class="container box-shadow content" id="container">
            @RenderBody()
    </div>
    <div class="footer-div">
        <footer>
            <div class="navbar navbar-inverse navbar-fixed-bottom child-footer">            
                <div class="divider-orange"></div>
                <div class="navbar-inner">
                    <div class="container">
                        <!--©-->
                        <div class="nav-collapse collapse">
                            <ul class="nav">                        
                                <li class="offset2"><a href="@Url.Action("Index")" ><label class="text-center">©Toyaldia.net.do</label></a></li>                                            
                            </ul>
                        </div>                    
                    </div>            
                </div>        
            </div>
        </footer> 
    </div>
        
</body>
</html>