@model BO.Feed

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Feed</legend>

    <div class="display-label">Feed1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Feed1)
    </div>

    <div class="display-label">InsertedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InsertedDate)
    </div>

    <div class="display-label">Section</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Section.Name)
    </div>

    <div class="display-label">Provider</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Provider.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
